* {
  font-family: "Nunito", sans-serif;
}

/* HEADER */
header.main-header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#navbarMenu .nav-item {
  margin: 0 8px;
  font-weight: 600;
}
#navbarMenu .nav-item .nav-link.active {
  color: #dc4f72;
}
#navbarMenu .nav-item:hover .nav-link {
  color: #dc4f72;
}
#navbarMenu .nav-link {
  position: relative;
}
#navbarMenu .nav-link::before,
#navbarMenu .dropdown-item::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  transition: all 0.5s;
  position: absolute;
  bottom: 5px;
}
#navbarMenu .nav-link:hover::before,
#navbarMenu .dropdown-item:hover::before {
  width: 20px;
}
#navbarMenu .nav-item-icon::after {
  font: normal normal normal 14px / 1 FontAwesome;
  right: -7px;
  top: 16px;
  display: inline-block;
  content: "\f107";
  position: absolute;
  font-size: 12px;
}
a.dropdown-item {
  font-weight: 400;
  font-size: 16px;
  color: var(--title-color);
  position: relative;
}
.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  position: relative;
}
.navbar .navbar-brand {
  color: #dc4f72;
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: 700;
}
#navbarMenu .search-search span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #5a5a5a;
  background: #f7f9fc;
  opacity: 0.7;
  line-height: 45px;
  text-align: center;
  border-color: 1px solid #eee;
  font-size: 15px;
}
#navbarMenu .search-search:hover span {
  color: black;
}
.demo-theme {
  padding: 0 30px;
  color: #dc4f72;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 52px;
  border-color: #dc4f72;
  cursor: pointer;
  background-color: white;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  transition: 0.5s;
  z-index: 1;
}
button.demo-theme:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}
.search .pop-outline {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: #000000ba;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}
.search .pop-outline:target {
  visibility: visible;
  opacity: 1;
}
.search .popup {
  position: relative;
  margin: 0rem auto;
  padding: 15px;
  top: 50%;
  max-width: 600px;
}
.search .popup form input[type="search"] {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: 5a5a5a;
  height: 55px;
  padding: 15px 20px 12px;
  background: #fff;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-right: none;
}
.search .popup form button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background: #dc4f72;
  padding: 0 25px;
  border-left: none;
  border-radius: initial;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.search .popup .close {
  position: absolute;
  right: 20px;
  top: -50px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
#switch-mode {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
#switch-mode i {
  font-size: 21px;
}
/* BANNER */
.banner__content {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 5rem;
  z-index: 1;
}
.banner__left h3 {
  font-size: 50px;
  font-weight: 700;
  color: #2c3038;
}
.banner__left p {
  color: #2c3038;
  font-size: 20px;
  font-weight: 400;
}
.banner__left .button {
  padding: 0 30px;
  color: #dc4f72;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 52px;
  border-color: #dc4f72;
  cursor: pointer;
  background-color: white;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  transition: 0.5s;
  z-index: 1;
}
.button:hover {
  background-color: #dc4f72;
  color: white;
}
/* TOOL */
.tool__title {
  text-align: center;
}
.tool .tool__title p:first-child {
  font-size: 16px;
  font-weight: 700;
  color: #dc4f72;
  line-height: 20px;
}
.tool .tool__title h3 {
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
}
.tool .tool__title p:last-child {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
}
.tool__block {
  background: #f7f9fc;
  padding: 3rem 2rem;
  border-radius: 6px;
  transition: all 0.5s;
}
.tool__block:hover {
  transform: translateY(-10px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;
}
.tool__block h3 {
  color: #5a5a5a;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}
/* ABOUT */
.about {
  background: #f7f9fc;
  /* padding: 100px 0; */
}
.about__left p:first-child {
  font-size: 16px;
  font-weight: 700;
  color: #dc4f72;
  line-height: 20px;
}
.about__left h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  color: #2c3038;
}
.about__left p:last-child {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
}
.about__left button {
  padding: 0 30px;
  color: white;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 52px;
  border-color: #dc4f72;
  cursor: pointer;
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  transition: 0.5s;
  z-index: 1;
}
.btn1:hover {
  background: #d62f58;
}
.about__photo img {
  border-radius: 6px;
  transition: all 0.5s;
}
.about__photo:hover img {
  transform: translateY(-10px);
}
.about__item {
  padding: 2rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  border-color: 1px solid #f8f9fa;
  transition: all 0.5s;
}
.about__item h6 {
  font-size: 16px;
  line-height: 24.5px;
  font-weight: 700;
  color: #2c3038;
}
.about__item p.counter {
  font-size: 50px;
  line-height: 1;
  color: #d62f58;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}
.about__item p {
  color: #5a5a5a;
}
.about__item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* INDEX */
.index {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 480px;
  padding: 2rem 0;
  display: grid;
  align-items: center;
}
.index .index__item {
  max-width: 550px;
}
.index h3 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.index p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}
.index button {
  padding: 0 30px;
  color: #2c3038;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 52px;
  border-color: #dc4f72;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #dc4f72;
  border-radius: 4px;
  transition: 0.5s;
}
button:hover {
  background-color: #e2e6ea;
}

/* START FAQ */
.header-faq {
  max-width: 750px;
  margin: 0 auto;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.header-faq h1 {
  color: #2c3038;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
}
.header-faq p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mt-5 {
  margin-top: 3rem !important;
}

img.img-curve {
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

img.img-curve:hover {
  transform: translateY(-0.5rem);
}
.pl-md-5,
.px-md-5 {
  padding-left: 3rem !important;
}

.faq .faq-image {
  position: sticky;
  top: 80px;
}

.accordion-item {
  margin: 30px;
}

.accordion-button {
  height: 70px;
  font-size: 20px;
}

.accordion-button:hover {
  border-color: white;
  background-color: white;
}

/* PROJECTS */

.projects-bottom .nav-tabList .nav-tabItem {
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  border-bottom: 3px solid #c1c1c1;
}

.projects-bottom .nav-tabList .nav-tabItem button {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  color: #4e5b61;
  background: #fff !important;
  border: none;
  width: 100%;
  border-radius: 0;
}

.projects-bottom .nav-tabList .nav-tabItem .active {
  position: relative;
  top: 3px;
  color: #dc4f72;
  border-bottom: 3px solid #dc4f72;
}

.projects-bottom .title {
  font-weight: 700;
  color: #2c3038;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
}

.projects-bottom .row {
  max-width: 100%;
  text-align: center;
  padding-left: 50px;
}

.projects-bottom p {
  color: #5a5a5a;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}
.projects-bottom a {
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
/* START TESTIMONIALS */

.testimonials {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.77)),
    url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.testimonials .slider-info {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 50px;
  background-color: #fff;
  border-radius: 6px;
}

.testimonials .testimonials__img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}

.testimonials .testimonials__img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.testimonials .testimonials__message {
  position: relative;
}

.testimonials .testimonials__message span {
  font-size: 30px;
  color: #2c3038;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.testimonials .testimonials__message p {
  font-size: 18px;
  line-height: 26px;
  color: #2c3038;
}

.testimonials .testimonials__name h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}

.testimonials .testimonials__name p {
  font-size: 13px;
  color: #5a5a5a;
}
.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 0px;
  bottom: -55px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  padding: 0;
}

.owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: #fff;
  display: block;
  border: none;

  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
}

.owl-dots .owl-dot.active span {
  background: #dc4f72;
}
/* .carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 40px;
  height: 5px;
  background-color: #35a22c;
} */

/* .carousel-inner {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: #fff;
  border-radius: 6px;
} */

/* .carousel-item {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
} */

/* .carousel-item img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
} */
/*
.carousel__message {
  position: relative;
}

.carousel__message span {
  font-size: 30px;
  color: #2c3038;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.carousel__message p {
  font-size: 18px;
  line-height: 26px;
  color: #2c3038;
}

.carousel__name h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}

.carousel__name p {
  font-size: 13px;
  color: #5a5a5a;
}  */

/* START PROJECTS */

.tab-content .col-lg-6 {
  text-align: left;
}

/* START INDEX6 */
.py-5 {
  padding-bottom: 3rem !important;
}
.header-section {
  max-width: 750px;
  margin: 0 auto;
}

.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.theme-button {
  /* transition: 0.3s ease-out; */
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

.btn:focus {
  outline: 0;
}

.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.btn-primary:focus {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
  box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
}

.btn:hover {
  transition: 0.5s all;
}

/* START FOOTER */

.footer .footer-main.py-5 {
  background: #f7f9fc;
  display: flex;
}

.footer .footer-main h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}

.column li {
  display: block;
  list-style: none;
  margin: 10px 0;
}

.column li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
}

.column li a:hover {
  color: #dc4f72;
}

body a:hover {
  transition: 0.5s all;
}

.footer .end-column {
  /* width: 100; */
  background-color: #fff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.footer .footer-main h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.footer .subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #2c3038;
  font-weight: 600;
  border-radius: 6px;
}

.footer .subscribe button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}

.footer .footer-main p a {
  color: #2c3038;
  text-decoration: none;
}

.footer .footer-main p a:hover {
  color: #dc4f72;
  opacity: 0.8;
}

.footer .below-section {
  border-top: 1px solid #eee;
}

.footer ul.social li {
  display: inline-block;
  margin-right: 5px;
}

.footer ul.social li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

/* RESPONSIVE */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 991px) {
  .navbar-toggler {
    padding: 0 !important;
  }
  .navbar-toggler-icon.fa {
    color: #fff;
    line-height: 34px;
    background-color: #dc4f72;
    border-radius: 5px;
  }
  .banner {
    margin-top: 70px;
  }
  .HeaderButton {
    text-align: center;
    padding: 10px 0;
  }
  header.main-header {
    height: auto;
    padding: 15px 0;
  }
  .navbar-nav {
    text-align: center;
  }
  .search {
    text-align: center;
  }
  .mobile-position {
    position: absolute;
    right: 50px;
    top: 25px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 8px 0;
  }
}
